@using GerenciamentoDePessoas.Models.Enum
@model Pessoa

@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Erro"]
    </div>
}

<form asp-action="Editar" asp-controller="Pessoa" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" asp-for="Nome" placeholder="Digite seu nome">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Sobrenome</label>
        <input type="text" class="form-control" asp-for="Sobrenome" placeholder="Digite seu sobrenome">
        <span asp-validation-for="Sobrenome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Data de Nascimento</label>
        <input type="date" class="form-control" asp-for="DataNascimento" placeholder="Digite sua data de nascimento">
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>CPF</label>
        <input type="number" class="form-control" asp-for="cpf">
        <span asp-validation-for="cpf" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tipo Sanguíneo</label>
        <select class="form-select" asp-for="TipoSanguineo">
            @foreach (var tipo in Enum.GetValues(typeof(ETipoSanguineo)))
            {
                if (Model?.TipoSanguineo == (ETipoSanguineo)tipo)
                {
                    <option value="@tipo" selected>@tipo</option>
                }
                else
                {
                    <option value="@tipo">@tipo</option>
                }
            }
        </select>
        <span asp-validation-for="TipoSanguineo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Criar</button>

</form>