@model List<Pessoa>

<h1>
    Lista de Pessoas<h1>

@if (TempData["Sucesso"] != null)
{
            <div class="alert alert-success" role="alert">
                @TempData["Sucesso"]
            </div>
}

@if (TempData["Erro"] != null)
{
            <div class="alert alert-danger" role="alert">
                @TempData["Erro"]
            </div>
}
        <a asp-controller="Pessoa" asp-action="Criar" class="btn btn-primary">Criar Usuário</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Tipo Sanguíneo</th>
                    <th scope="col">Ações</th>

                </tr>
            </thead>    
            <tbody>
                @foreach (var pessoa in Model)
                {
                    <tr>
                        <th scope="row">@pessoa.Id</th>
                        <td>@pessoa.Nome</td>
                        <td>@pessoa.Sobrenome</td>
                        <td>@pessoa.cpf</td>
                        <td>@pessoa.TipoSanguineo.ToString()</td>
                        <td>@pessoa.DataNascimento.ToShortDateString()</td>
                        <td>
                            <a asp-controller="Pessoa"  asp-action="Editar" asp-route-id="@pessoa.Id" title="Editar">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
